<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
</head>
<body>

<div th:each="person : ${people}">
  <a th:href="@{/people/{id}(id=${person.getId()})}"
     th:text="${person.getName() + ', ' + person.getB_year()}">user</a>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/people/new}">
  <input type="submit" value="Создать нового пользователя"/>
</form>

<br/>

<form th:method="GET" th:action="@{/books}">
  <input type="submit" value="Список всех книг"/>
</form>

</body>
</html>